/* MyChartStyles.module.css */

/* Style for the x-axis */
.MuiChartsAxis-root.MuiChartsAxis-directionX {
    stroke: white;
    /* Changes the color of the x-axis line */
}

/* Style for the x-axis labels */
.MuiChartsAxis-root.MuiChartsAxis-directionX .MuiChartsAxis-label {
    fill: white;
    /* Changes the color of the x-axis labels */
}

/* Style for the y-axis */
.MuiChartsAxis-root.MuiChartsAxis-directionY {
    stroke: white;
    /* Changes the color of the y-axis line */
}

/* Style for the y-axis labels */
.MuiChartsAxis-root.MuiChartsAxis-directionY .MuiChartsAxis-label {
    fill: white;
    /* Changes the color of the y-axis labels */
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
    stroke: white !important;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tick {
    stroke: white !important;
    shape-rendering: crispEdges;
}