.barChart {
    background-color: #9381ff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0 0 10px 5px rgba(171, 114, 224, 0.5);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    /* Purple glow */
}